body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#imgContainer {
  flex: 1;
  max-width: 1000px;
  z-index: 2;
}

#editorContainer {
  padding: 15px 0;
}

#v-tagger {
  width: 100%;
}

.vanilla-tagger-editor {
  padding: 0;
  margin: 0;
}

.vanilla-tagger-editor input[type="radio"] {
  display: none;
  margin: 10px;
}

.vanilla-tagger-editor input[type="radio"] + label {
  display: inline-block;
  margin: -2px;
  padding: 4px 12px;
  background-color: #e7e7e7;
  border-color: #ddd;
  cursor: pointer;
}

.vanilla-tagger-editor input[type="radio"]:checked + label {
  background-image: none;
  background-color: #d0d0d0;
}

.vanilla-tagger-editor input[type="radio"]:disabled + label {
  opacity: 0.5;
  pointer-events: none;
}
