.tagger-wrapper {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}

.tagger-wrapper > img, .tagger-wrapper > .tagger-layer{
    max-width: 100%;
    width: 100%;
    min-width: 100%;    
}

.tagger-wrapper > .tagger-layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: trasparent;
}

.tagger-wrapper.edit-dots > img, .tagger-wrapper.edit-boxes > img{
    opacity: .8;
}

.tag.dot {opacity: .8; transform: translate(-50%, -50%); position:absolute; outline: none; user-select: none; text-align: center; width:40px; height:40px; border: solid 0px transparent; color: white; font-weight: bold; font-size: 20px; background-color: #d32f2f; display: block; border-radius: 100%; cursor: pointer; animation: fadein .5s; animation: pulse 1.5s infinite; }
.tag.hotspot {position:absolute; outline: none; text-align: center;  user-select: none; overflow: hidden;  border: solid 2px silver; color: white; font-weight: bold; font-size: 20px; background-color: #ffffff59; display: block;cursor: pointer;  }




@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes pulse {
  from { box-shadow: 0 0 0 0px rgba(211, 47, 47); }
  to { box-shadow: 0 0 0 15px rgba(0, 0, 0, 0); }
}

