/*---------------------------- VARIABLES ------------------------------------- */

/*------------- you can override this from light DOM ------------------------- */

:host {
  --font: sans-serif;

  --format-small-trigger: 640;

  --white: 255, 255, 255;
  --black: 0, 0, 0;

  --grey: 100, 100, 100;
  --grey-dark: 75, 75, 75;
  --red: 255, 0, 0;
  --red-dark: 200, 0, 0;
  --green: 0, 255, 0;
  --green-dark: 0, 150, 0;
  --blue: 0, 0, 255;
  --blue-dark: 0, 0, 150;

  --shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.35);

  --dot-size: 44px;
  --dot-size-small: 22px;
  --index-font-size: 20px;
  --index-font-size-small: 10px;

  --shape-camera: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5NiA5NiIgZmlsbD0iIzMzMyIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48Y2lyY2xlIGN4PSI0OC44MTQiIGN5PSI1Mi4zOTMiIHI9IjEzLjI3NSIvPjxwYXRoIGQ9Ik0zNi42MiA5Ljg3NmwtNy42NjMgOC41NzNIMTUuNDdjLTQuNTk4IDAtOC40MyAzLjg5Ny04LjQzIDguNTczdjUxLjQ0YzAgNC42NzYgMy44MyA4LjU3MyA4LjQzIDguNTczaDY3LjQzYzQuNTk4IDAgOC40My0zLjg5NyA4LjQzLTguNTczdi01MS40NGMwLTQuNjc2LTMuODMtOC41NzMtOC40My04LjU3M0g2OS41N2wtNy42NjMtOC41NzN6TTQ5LjE4NiA3NC4xYy0xMS42NDcgMC0yMS4xNS05LjY2NS0yMS4xNS0yMS41MTJzOS41MDItMjEuMzU2IDIxLjE1LTIxLjM1NiAyMS4xNSA5LjY2NSAyMS4xNSAyMS41MTJTNjAuODM0IDc0LjEgNDkuMTg2IDc0LjF6Ii8+PC9zdmc+");
  --shape-marker: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5NiA5NiIgZmlsbD0iIzMzMyIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBkPSJNNDcuNCA4Ny40MjhjMCAuMDE1LjAzNC4wNDQuMDM0LjA0NHMyOS45NDItMzkuNjE4IDI5Ljk0Mi01Mi42MzhjMC0xOS4xNi0xNS4xNzYtMjcuNDk3LTI5Ljk3Ni0yNy41MjctMTQuOC4wMy0yOS45NzYgOC4zNjUtMjkuOTc2IDI3LjUyNyAwIDEzLjAyIDI5Ljk2IDUyLjYzOCAyOS45NiA1Mi42Mzh6TTM3LjAxNiAzMy43NDRjMC00Ljk1IDQuNjUtOC45NTUgMTAuMzktOC45NTVzMTAuMzkgNC4wMDYgMTAuMzkgOC45NTVTNTMuMTMyIDQyLjcgNDcuNCA0Mi43Yy01LjcyNSAwLTEwLjM3NC00LjAwNi0xMC4zNzQtOC45NTV6IiBmaWxsPSIjMWExYTFhIi8+PC9zdmc+");
}

/*---------------------------- COMMON STYLES ---------------------------- */

.tag {
  z-index: 1;
  cursor: pointer;
}

.show-index::after {
  content: attr(data-index);
  display: inline-block;
  position: absolute;
  width: 100%;
  font-family: var(--font);
  font-weight: bold;
  font-size: var(--index-font-size);
  line-height: var(--index-font-size);
  top: calc(50% - var(--index-font-size) / 2);
  text-align: center;
  text-overflow: hidden;
  vertical-align: middle;
  text-shadow: 2px 2px rgba(var(--black), 0.4);
}

.with-border {
  border-width: 2px;
  border-style: solid;
}

.with-shadow {
  box-shadow: var(--shadow);
}

.red {
  border-color: rgba(var(--red-dark), 1);
  background-color: rgba(var(--red), 0.7);
  color: rgba(var(--white), 1);
}
.green {
  border-color: rgba(var(--green-dark), 1);
  background-color: rgba(var(--green), 0.7);
  color: rgba(var(--white), 1);
}
.blue {
  border-color: rgba(var(--blue-dark), 1);
  background-color: rgba(var(--blue), 0.7);
  color: rgba(var(--white), 1);
}
.light {
  border-color: rgba(var(--grey), 1);
  background-color: rgba(var(--white), 0.7);
  color: rgba(var(--grey), 1);
}
.xlight {
  border-color: rgba(var(--grey), 1);
  background-color: rgba(var(--white), 0.2);
  color: rgba(var(--white), 1);
}
.dark {
  border-color: rgba(var(--grey-dark), 1);
  background-color: rgba(var(--grey), 0.8);
  color: rgba(var(--white), 1);
}

.red.pulsating,
.red.toggled.pulsating-ontoggled,
.red.pulsating-onhover:hover,
.red.pulsating-onfocus:focus {
  animation: red-pulse 1.5s infinite;
}
.green.pulsating,
.green.toggled.pulsating-ontoggled,
.green.pulsating-onhover:hover,
.green.pulsating-onfocus:focus {
  animation: green-pulse 1.5s infinite;
}
.blue.pulsating,
.blue.toggled.pulsating-ontoggled .blue.pulsating-onhover:hover,
.blue.pulsating-onfocus:focus {
  animation: blue-pulse 1.5s infinite;
}
.dark.pulsating,
.dark.toggled.pulsating-ontoggled,
.dark.pulsating-onhover:hover,
.dark.pulsating-onfocus:focus,
.light.pulsating,
.light.toggled.pulsating-ontoggled,
.light.pulsating-onhover:hover,
.light.pulsating-onfocus:focus,
.xlight.pulsating,
.xlight.toggled.pulsating-ontoggled,
.xlight.pulsating-onhover:hover,
.xlight.pulsating-onfocus:focus {
  animation: grey-pulse 1.5s infinite;
}

/*---------------------------- ANIMATIONS---------------------------- */

@keyframes red-pulse {
  from {
    box-shadow: 0 0 0 0px rgba(var(--red), 8);
  }
  to {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
@keyframes green-pulse {
  from {
    box-shadow: 0 0 0 0px rgba(var(--green), 0.8);
  }
  to {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
@keyframes blue-pulse {
  from {
    box-shadow: 0 0 0 0px rgba(var(--blue), 0.8);
  }
  to {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
@keyframes grey-pulse {
  from {
    box-shadow: 0 0 0 0px rgba(var(--grey), 0.8);
  }
  to {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

/*---------------------------- DOT ---------------------------- */

.dot {
  transform: translate(-50%, -50%);
  outline: none;
  user-select: none;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 100%;
}

.dot.show-index-ontop::after {
  content: attr(data-index);
  display: block;
  position: absolute;
  top: -4px;
  right: -4px;
  line-height: 16px;
  height: 16px;
  padding: 0 5px;
  font-family: var(--font);
  font-size: var(--index-font-size-small);
  color: rgba(var(--white), 1);
  text-shadow: 0 1px rgba(var(--grey), 0.7);
  border: 1px solid;
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(var(--white), 7),
    10px 6px 14px -3px rgba(var(--grey), 0.8);
}

.dot.red.show-index-ontop::after {
  background: rgba(var(--red-dark), 1);
  border-color: rgba(var(--red-dark), 1);
  background-image: linear-gradient(
    to bottom,
    rgba(var(--red), 1),
    rgba(var(--red-dark), 1)
  );
}
.dot.green.show-index-ontop::after {
  background: rgba(var(--green-dark), 1);
  border-color: rgba(var(--green-dark), 1);
  background-image: linear-gradient(
    to bottom,
    rgba(var(--green), 1),
    rgba(var(--green-dark), 1)
  );
}
.dot.blue.show-index-ontop::after {
  background: rgba(var(--blue-dark), 1);
  border-color: rgba(var(--blue-dark), 1);
  background-image: linear-gradient(
    to bottom,
    rgba(var(--blue), 1),
    rgba(var(--blue-dark), 1)
  );
}
.dot.dark.show-index-ontop::after,
.dot.light.show-index-ontop::after,
.dot.xlight.show-index-ontop::after {
  background: rgba(var(--grey-dark), 1);
  border-color: rgba(var(--grey-dark), 1);
  background-image: linear-gradient(
    to bottom,
    rgba(var(--grey), 1),
    rgba(var(--grey-dark), 1)
  );
}

/*---------------------------- ICONS & SHAPES---------------------------- */

.dot[class^="icon-"]::before,
.dot[class*=" icon-"]::before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 100%;
  background-color: rgba(var(--white), 1);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: 60%;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 60%;
}

.dot[class^="shape-"],
.dot[class*=" shape-"] {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-repeat: no-repeat;
  mask-position: center center;
  border-radius: 0;
}

.dot.light[class^="icon-"]::before,
.dot.light[class*=" icon-"]::before,
.dot.xlight[class^="icon-"]::before,
.dot.xlight[class*=" icon-"]::before {
  background-color: rgba(var(--grey), 1);
}

.shape-camera,
.icon-camera::before {
  -webkit-mask-image: var(--shape-camera);
  mask-image: var(--shape-camera);
}
.shape-marker,
.icon-marker::before {
  -webkit-mask-image: var(--shape-marker);
  mask-image: var(--shape-marker);
}

/*---------------------------- MEDIA QUERIES (sort of....) ---------------------------- */

.dot.small,
.dot.small.show-index::after,
.dot.small[class^="icon-"]::before,
.dot.small[class*=" icon-"]::before,
.small-format .dot.responsive,
.small-format .dot.responsive[class^="icon-"]::before,
.small-format .dot.responsive[class*=" icon-"]::before,
.small-format .dot.responsive.show-index::after {
  width: var(--dot-size-small);
  height: var(--dot-size-small);
}

.dot.small.show-index::after,
.small-format .dot.responsive.show-index::after {
  font-size: var(--index-font-size-small);
  line-height: var(--dot-size-small);
}

.dot.small.show-index-ontop::after,
.small-format .dot.show-index-ontop::after {
  top: -12px;
  right: -12px;
}

/*---------------------------- POPUPS---------------------------- */

/* COMMON STYLES */

.popup {
  font-family: var(--font);
  position: absolute;
  display: block;
  margin: 0;
  padding: 10px 20px;
  font-size: 0.8em;
  max-width: 400px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out 0.3s, transform 0.3s ease-in-out 0.4s,
    z-index 0.7s linear;
  will-change: opacity, transform, z-index;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: var(--shadow);
  z-index: 0;
}

.tag:hover + .popup.hover,
.tag.toggled + .popup.toggle,
.tag.show-popup + .popup,
.show-allpopups .tag + .popup {
  opacity: 1;
  z-index: 2;
}

/* COLORS */

.popup.black {
  background-color: rgba(var(--black), 1);
  color: rgba(var(--white), 1);
}
.popup.light {
  background-color: rgba(var(--white), 1);
  color: rgba(var(--black), 1);
}

.popup.xlight {
  background-color: rgba(var(--white), 0.7);
  color: rgba(var(--black), 1);
}
.popup.red {
  background-color: rgba(var(--red), 1);
  color: rgba(var(--white), 1);
}
.popup.green {
  background-color: rgba(var(--green), 1);
  color: rgba(var(--white), 1);
}
.popup.blue {
  background-color: rgba(var(--blue), 1);
  color: rgba(var(--white), 1);
}

/* ARROWS */

.popup::before {
  display: inline-block;
  content: "";
  position: absolute;
  background-color: transparent;
  border: 8px solid transparent;
}

.popup.right.arrow-top::before {
  left: -16px;
  top: 7px;
}
.popup.right.arrow-center::before {
  left: -16px;
  top: calc(50% - 7px);
}
.popup.right.arrow-bottom::before {
  left: -16px;
  bottom: 7px;
}
.popup.left.arrow-top::before {
  right: -16px;
  top: 7px;
}
.popup.left.arrow-center::before {
  right: -16px;
  top: calc(50% - 7px);
}
.popup.left.arrow-bottom::before {
  right: -16px;
  bottom: 7%;
}
.popup.top.arrow-left::before {
  left: 16px;
  bottom: -16px;
}
.popup.top.arrow-center::before {
  left: calc(50% - 7px);
  bottom: -16px;
}
.popup.top.arrow-right::before {
  right: 16px;
  bottom: -16px;
}
.popup.bottom.arrow-left::before {
  left: 16px;
  top: -16px;
}
.popup.bottom.arrow-center::before {
  left: calc(50% - 7px);
  top: -16px;
}
.popup.bottom.arrow-right::before {
  right: 5px;
  top: -16px;
}

.popup.right.red::before {
  border-right-color: rgba(var(--red), 0.7);
}
.popup.left.red::before {
  border-left-color: rgba(var(--red), 0.7);
}
.popup.top.red::before {
  border-top-color: rgba(var(--red), 0.7);
}
.popup.bottom.red::before {
  border-bottom-color: rgba(var(--red), 0.7);
}

.popup.right.green::before {
  border-right-color: rgba(var(--green), 0.7);
}
.popup.left.green::before {
  border-left-color: rgba(var(--green), 0.7);
}
.popup.top.green::before {
  border-top-color: rgba(var(--green), 0.7);
}
.popup.bottom.green::before {
  border-bottom-color: rgba(var(--green), 0.7);
}

.popup.right.blue::before {
  border-right-color: rgba(var(--blue), 0.7);
}
.popup.left.blue::before {
  border-left-color: rgba(var(--blue), 0.7);
}
.popup.top.blue::before {
  border-top-color: rgba(var(--blue), 0.7);
}
.popup.bottom.blue::before {
  border-bottom-color: rgba(var(--blue), 0.7);
}

.popup.right.xlight::before {
  border-right-color: rgba(var(--white), 0.7);
}
.popup.left.xlight::before {
  border-left-color: rgba(var(--white), 0.7);
}
.popup.top.xlight::before {
  border-top-color: rgba(var(--white), 0.7);
}
.popup.bottom.xlight::before {
  border-bottom-color: rgba(var(--white), 0.7);
}

.popup.right.light::before {
  border-right-color: rgba(var(--white), 1);
}
.popup.left.light::before {
  border-left-color: rgba(var(--white), 1);
}
.popup.top.light::before {
  border-top-color: rgba(var(--white), 1);
}
.popup.bottom.light::before {
  border-bottom-color: rgba(var(--white), 1);
}

.popup.right.dark::before {
  border-right-color: rgba(var(--grey), 0.8);
}
.popup.left.dark::before {
  border-left-color: rgba(var(--grey), 0.8);
}
.popup.top.dark::before {
  border-top-color: rgba(var(--grey), 0.8);
}
.popup.bottom.dark::before {
  border-bottom-color: rgba(var(--grey), 0.8);
}

.popup.right.black::before {
  border-right-color: rgba(var(--black), 0.8);
}
.popup.left.black::before {
  border-left-color: rgba(var(--black), 0.8);
}
.popup.top.black::before {
  border-top-color: rgba(var(--black), 0.8);
}
.popup.bottom.black::before {
  border-bottom-color: rgba(var(--black), 0.8);
}

/*POSITIONING */

/* POPUP TO THE RIGHT + ARROW ON BOTTOM */

.dot + .popup.right.arrow-bottom {
  transform: translate(50px, -85%);
}

.dot:hover + .popup.hover.right.arrow-bottom,
.dot.toggled + .popup.toggle.right.arrow-bottom,
.dot.show-popup + .popup.right.arrow-bottom,
.show-allpopups .dot + .popup.right.arrow-bottom {
  transform: translate(35px, -85%);
}

.dot.small:hover + .popup.hover.right.arrow-bottom,
.dot.small.toggled + .popup.toggle.right.arrow-bottom,
.dot.small.show-popup + .popup.right.arrow-bottom,
.show-allpopups .dot.small + .popup.right.arrow-bottom,
.small-format .dot.responsive:hover + .popup.hover.right.arrow-bottom,
.small-format .dot.responsive.toggled + .popup.toggle.right.arrow-bottom,
.small-format .dot.responsive.show-popup + .popup.right.arrow-bottom,
.show-allpopups.small-format .dot.responsive + .popup.right.arrow-bottom {
  transform: translate(25px, -85%);
}

/* POPUP TO THE LEFT + ARROW ON BOTTOM */

.dot + .popup.left.arrow-bottom {
  transform: translate(-50px, -85%);
}

.dot:hover + .popup.hover.left.arrow-bottom,
.dot.toggled + .popup.toggle.left.arrow-bottom,
.dot.show-popup + .popup.left.arrow-bottom,
.show-allpopups .dot + .popup.left.arrow-bottom {
  transform: translate(-35px, -85%);
}

.dot.small:hover + .popup.hover.left.arrow-bottom,
.dot.small.toggled + .popup.toggle.left.arrow-bottom,
.dot.small.show-popup + .popup.left.arrow-bottom,
.show-allpopups .dot.small + .popup.left.arrow-bottom,
.small-format .dot.responsive:hover + .popup.hover.left.arrow-bottom,
.small-format .dot.responsive.toggled + .popup.toggle.left.arrow-bottom,
.small-format .dot.responsive.show-popup + .popup.left.arrow-bottom,
.show-allpopups.small-format .dot.responsive + .popup.left.arrow-bottom {
  transform: translate(-25px, -85%);
}

.hotspot + .popup.left.arrow-bottom {
  transform: translate(-25px, -100%);
}

.hotspot:hover + .popup.hover.left.arrow-bottom,
.hotspot.toggled + .popup.left.toggle.arrow-bottom,
.hotspot.show-popup + .popup.left.arrow-bottom,
.show-allpopups .hotspot + .popup.left.arrow-bottom {
  transform: translate(-15px, -100%);
}

/* POPUP TO THE RIGHT + ARROW CENTERED */

.dot + .popup.right.arrow-center {
  transform: translate(50px, -50%);
}

.dot:hover + .popup.hover.right.arrow-center,
.dot.toggled + .popup.toggle.right.arrow-center,
.dot.show-popup + .popup.right.arrow-center,
.show-allpopups .dot + .popup.right.arrow-center {
  transform: translate(35px, -50%);
}

.dot.small:hover + .popup.hover.right.arrow-center,
.dot.small.toggled + .popup.toggle.right.arrow-center,
.dot.small.show-popup + .popup.right.arrow-center,
.show-allpopups .dot.small + .popup.right.arrow-center,
.small-format .dot.responsive:hover + .popup.hover.right.arrow-center,
.small-format .dot.responsive.toggled + .popup.toggle.right.arrow-center,
.small-format .dot.responsive.show-popup + .popup.right.arrow-center,
.show-allpopups.small-format .dot.responsive + .popup.right.arrow-center {
  transform: translate(25px, -50%);
}

/* POPUP TO THE LEFT + ARROW CENTERED */

.dot + .popup.left.arrow-center {
  transform: translate(-50px, -50%);
}

.dot:hover + .popup.hover.left.arrow-center,
.dot.toggled + .popup.toggle.left.arrow-center,
.dot.show-popup + .popup.left.arrow-center,
.show-allpopups .dot + .popup.left.arrow-center {
  transform: translate(-35px, -50%);
}

.dot.small:hover + .popup.hover.left.arrow-center,
.dot.small.toggled + .popup.toggle.left.arrow-center,
.dot.small.show-popup + .popup.left.arrow-center,
.show-allpopups .dot.small + .popup.left.arrow-center,
.small-format .dot.responsive:hover + .popup.hover.left.arrow-center,
.small-format .dot.responsive.toggled + .popup.toggle.left.arrow-center,
.small-format .dot.responsive.show-popup + .popup.left.arrow-center,
.show-allpopups.small-format .dot.responsive + .popup.left.arrow-center {
  transform: translate(-25px, -50%);
}

.hotspot + .popup.left.arrow-center {
  transform: translate(-25px, -50%);
}

.hotspot:hover + .popup.hover.left.arrow-center,
.hotspot.toggled + .popup.left.toggle.arrow-center,
.hotspot.show-popup + .popup.left.arrow-center,
.show-allpopups .hotspot + .popup.left.arrow-center {
  transform: translate(-15px, -50%);
}

/* POPUP TO THE RIGHT + ARROW ON TOP */

.dot + .popup.right.arrow-top {
  transform: translate(50px, -10%);
}

.dot:hover + .popup.hover.right.arrow-top,
.dot.toggled + .popup.toggle.right.arrow-top,
.dot.show-popup + .popup.right.arrow-top,
.show-allpopups .dot + .popup.right.arrow-top {
  transform: translate(35px, -10%);
}

.dot.small:hover + .popup.hover.right.arrow-top,
.dot.small.toggled + .popup.toggle.right.arrow-top,
.dot.small.show-popup + .popup.right.arrow-top,
.show-allpopups .dot.small.show-popup + .popup.right.arrow-top,
.small-format .dot.responsive:hover + .popup.hover.right.arrow-top,
.small-format .dot.responsive.toggled + .popup.toggle.right.arrow-top,
.small-format .dot.responsive.show-popup + .popup.right.arrow-top,
.show-allpopups.small-format .dot.responsive + .popup.right.arrow-top {
  transform: translate(25px, -10%);
}

/* POPUP TO THE LEFT + ARROW ON TOP */

.dot + .popup.left.arrow-top {
  transform: translate(-50px, -10%);
}

.dot:hover + .popup.hover.left.arrow-top,
.dot.toggled + .popup.toggle.left.arrow-top,
.dot.show-popup + .popup.left.arrow-top,
.show-allpopups .dot + .popup.left.arrow-top {
  transform: translate(-35px, -10%);
}

.dot.small:hover + .popup.hover.left.arrow-top,
.dot.small.toggled + .popup.toggle.left.arrow-top,
.dot.small.show-popup + .popup.left.arrow-top,
.show-allpopups .dot.small + .popup.left.arrow-top,
.small-format .dot.responsive:hover + .popup.hover.left.arrow-top,
.small-format .dot.responsive.toggled + .popup.toggle.left.arrow-top,
.small-format .dot.responsive.show-popup + .popup.left.arrow-top,
.show-allpopups.small-format .dot.responsive + .popup.left.arrow-top {
  transform: translate(-25px, -10%);
}

.hotspot + .popup.left.arrow-top {
  transform: translate(-25px, 0);
}

.hotspot:hover + .popup.hover.left.arrow-top,
.hotspot.toggled + .popup.left.toggle.arrow-top,
.hotspot.show-popup + .popup.left.arrow-top,
.show-allpopups .hotspot + .popup.left.arrow-top {
  transform: translate(-15px, 0);
}

/* POPUP ON TOP + ARROW TO THE LEFT */

.dot + .popup.top.arrow-left {
  transform: translate(-20%, -50px);
}

.dot:hover + .popup.hover.top.arrow-left,
.dot.toggled + .popup.toggle.top.arrow-left,
.dot.show-popup + .popup.top.arrow-left {
  transform: translate(-20%, -35px);
}

.dot.small:hover + .popup.hover.top.arrow-left,
.dot.small.toggled + .popup.toggle.top.arrow-left,
.dot.small.show-popup + .popup.top.arrow-left,
.small-format .dot.responsive:hover + .popup.hover.top.arrow-left,
.small-format .dot.responsive.toggled + .popup.toggle.top.arrow-left,
.small-format .dot.responsive.show-popup + .popup.top.arrow-left {
  transform: translate(-20%, -25px);
}

/* POPUP ON TOP + ARROW CENTERED */

.dot + .popup.top.arrow-center {
  transform: translate(-50%, -50px);
}

.dot:hover + .popup.hover.top.arrow-center,
.dot.toggled + .popup.toggle.top.arrow-center,
.dot.show-popup + .popup.top.arrow-center {
  transform: translate(-50%, -35px);
}

.dot.small:hover + .popup.hover.top.arrow-center,
.dot.small.toggled + .popup.toggle.top.arrow-center,
.dot.small.show-popup + .popup.top.arrow-center,
.small-format .dot.responsive:hover + .popup.hover.top.arrow-center,
.small-format .dot.responsive.toggled + .popup.toggle.top.arrow-center,
.small-format .dot.responsive.show-popup + .popup.top.arrow-center {
  transform: translate(-50%, -25px);
}

/* POPUP ON TOP + ARROW TO THE RIGHT */

.dot + .popup.top.arrow-right {
  transform: translate(-80%, -50px);
}

.dot:hover + .popup.hover.top.arrow-right,
.dot.toggled + .popup.toggle.top.arrow-right,
.dot.show-popup + .popup.top.arrow-right {
  transform: translate(-80%, -35px);
}

.dot.small:hover + .popup.hover.top.arrow-right,
.dot.small.toggled + .popup.toggle.top.arrow-right,
.dot.small.show-popup + .popup.top.arrow-right,
.small-format .dot.responsive:hover + .popup.hover.top.arrow-right,
.small-format .dot.responsive.toggled + .popup.toggle.top.arrow-right,
.small-format .dot.responsive.show-popup + .popup.top.arrow-right {
  transform: translate(-80%, -25px);
}

/* POPUP ON BOTTOM + ARROW TO THE LEFT */

.dot + .popup.bottom.arrow-left {
  transform: translate(-8%, 50px);
}

.dot:hover + .popup.hover.bottom.arrow-left,
.dot.toggled + .popup.toggle.bottom.arrow-left,
.dot.show-popup + .popup.bottom.arrow-left {
  transform: translate(-8%, 35px);
}

.dot.small:hover + .popup.hover.bottom.arrow-left,
.dot.small.toggled + .popup.toggle.bottom.arrow-left,
.dot.small.show-popup + .popup.bottom.arrow-left,
.small-format .dot.responsive:hover + .popup.hover.bottom.arrow-left,
.small-format .dot.responsive.toggled + .popup.toggle.bottom.arrow-left,
.small-format .dot.responsive.show-popup + .popup.bottom.arrow-left {
  transform: translate(-8%, 25px);
}

/* POPUP ON BOTTOM + ARROW CENTERED */

.dot + .popup.bottom.arrow-center {
  transform: translate(-50%, 50px);
}

.dot:hover + .popup.hover.bottom.arrow-center,
.dot.toggled + .popup.toggle.bottom.arrow-center,
.dot.show-popup + .popup.bottom.arrow-center {
  transform: translate(-50%, 35px);
}

.dot.small:hover + .popup.hover.bottom.arrow-center,
.dot.small.toggled + .popup.toggle.bottom.arrow-center,
.dot.small.show-popup + .popup.bottom.arrow-center,
.small-format .dot.responsive:hover + .popup.hover.bottom.arrow-center,
.small-format .dot.responsive.toggled + .popup.toggle.bottom.arrow-center,
.small-format .dot.responsive.show-popup + .popup.bottom.arrow-center {
  transform: translate(-50%, 25px);
}

/* POPUP ON BOTTOM + ARROW TO THE RIGHT */

.dot + .popup.bottom.arrow-right {
  transform: translate(-95%, 50px);
}

.dot:hover + .popup.hover.bottom.arrow-right,
.dot.toggled + .popup.toggle.bottom.arrow-right,
.dot.show-popup + .popup.bottom.arrow-right {
  transform: translate(-95%, 35px);
}

.dot.small:hover + .popup.hover.bottom.arrow-right,
.dot.small.toggled + .popup.toggle.bottom.arrow-right,
.dot.small.show-popup + .popup.bottom.arrow-right,
.small-format .dot.responsive:hover + .popup.hover.bottom.arrow-right,
.small-format .dot.responsive.toggled + .popup.toggle.bottom.arrow-right,
.small-format .dot.responsive.show-popup + .popup.bottom.arrow-right {
  transform: translate(-95%, 25px);
}
